.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  .bigBox {
    overflow-y: hidden;
    .greeting {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      gap: 1rem;
    }
    .form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;

      .textInput {
        min-width: 75%;
        flex-grow: 1;
      }

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        width: 10rem;
        flex-grow: 1;
        height: 3rem;
      }
    }
    .signUpRedirect {
      display: flex;
      gap: 1rem;
      width: 100%;
      justify-content: center;
    }
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 50vw;
  }
}
