.navbar {
  padding-top: 2rem;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    justify-self: flex-start;
  }
  .textInput {
    width: 50rem;
    margin-right: 2.5%;
  }
}
